/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../src/image/background.jpeg");
  background-size:cover; /* Ajusta la imagen a su tamaño real */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}


/* Contenedor principal */
.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 500px;
}

/* Título */
.title {
  font-size: 24px;
  color: #333;
}

/* Select (dropdown) */
.select {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e2d9d9;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
  color: #181717;
  font-family: 'Courier New', Courier, monospace;
}

/* Lista de cervecerías */
.brewery-list {
  list-style: none;
  padding: 0;
}

/* Tarjeta de cervecería */
.card {
  background: #f0f6bc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

/* Mensajes */
.loading {
  color: #12d639;
  font-weight: bold;
}

.error {
  color: #e53935;
  font-weight: bold;
}
